 <div style="background-color:lightsteelblue;height: 35px;border: 2px solid #115589">
        <span style="text-transform: uppercase;color: black;font-weight: bold;line-height: 30px;font-size: 200%;margin-left: 70px;">
          Registration Form
        </span>
      </div>